.navbar-nav .nav-item .dropdown-menu {
  display: none;
}

.navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
}
.products_display_class {
  padding: 20px 0px;
}
.products_display_class:hover {
  background: #ecf0f1;
  border-radius: 12px;
}

/* Define the animation keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Initial state of the text */
.animated-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* Animation state */
.animated-text.animate {
  animation: fadeInUp 1.5s ease-out forwards;
}

.animated-text.fade-out {
  animation: fadeOut 1.5s ease-out forwards;
}

/* Optional: Add a delay to the second line */
.animated-text:nth-of-type(2).animate {
  animation-delay: 0.5s;
}
